{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<h3 class="my-3">Debit & Credit Money Form</h3>
<hr>
<form action="{% url 'add_amount' %}" method="post">
    {% csrf_token %}
    <div class="col-md-6 my-3"><strong>Type :</strong>
        <select name="amount-type" id="" class="form-select">
            <option value="">Select Type</option>
            <option value="0">Debit</option>
            <option value="1">Credit</option>
        </select>
    </div>
    <div class="col-md-6 my-3"><strong>Amount :</strong>
        <input type="text" name="amount" class="form-control">
    </div>
    <div class="col-md-6 my-3"><strong>Category :</strong>
        <select name="category" id="" class="form-select">
            <option value="">Select Category</option>
            {% for category in categories %}
            <option value="{{category.id}}">{{category}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-6 my-3"><strong>Description :</strong>
    <textarea name="description" id="" cols="30" rows="10" class="form-control">NO</textarea>
    <div class="col-md my-3">
        <input type="submit" value="Add Amount" class="form-control btn btn-primary">
    </div>
</form>
{% if messages %}
{% for message in messages %}
<script>
    alert('{{message}}');
</script>
{% endfor %}
{% endif %}
{% endblock %}